extends ../layouts/common.pug
block content 
  .container
    h3 Books
    a(class="d-inline-block mb-2", href="/") Back
    ul.list-group
      a(class="list-group-item", href="/books/create") Create a new book 
    table.table
      thead
        tr
          th Cover
          th ID 
          th Title
          th Description
          th
      tbody
        each book in books
          tr
              th
               img(src=book.coverUrl, width="50", heigth="50")
              th= book.id
              td= book.title
              td= book.description
              td
                a.text-success(href=`/cart/add/${book.id}`) Add to cart
                br
                if (user && user.isAdmin)
                  a.text-danger(href=`/books/${book.id}/delete`) Delete
                  span &nbsp;
                  a(href=`/books/${book.id}/update`) Update


