extends ../layouts/common.pug
block content 
  div(class="container")
    h3 Books

    a(class="d-inline-block mb-2", href="/") Back

    ul(class="list-group")
      a(class="list-group-item", href="/books/create") Create a new book 
    table(class="table")
      thead
        tr
          th ID 
          th Title
          th Description
          th
      tbody
        each book in books
          tr
              th= book.id
              td= book.title
              td= book.description
              td
                span &nbsp;
                a(href=`/books/${book.id}/delete`) Delete
                span 
                a(href=`/books/${book.id}/update`) Update 

